{% extends 'base.html' %} {% block body %}


<h1 style="text-align:center;">Add Employee </h1>
<form method="POST">


    <div class="container mt-5" align="center">
        <label> Name : </label>
        <input type="text" name="name">
    </div>
    <div class="container mt-5" align="center">
        <label> Email : </label>
        <input type="text" name="email">
    </div>
    <div class="container mt-5" align="center">
        <label> Qualification : </label>
        <input type="text" name="qualification">
    </div>
    <div class=" container mt-5 " align="center ">
        <label> Phone : </label>
        <input type="number" name="phone">
    </div>
    <button type="submit " class="btn btn-dark m-5 " style="position: relative; left: 60%; " id="mybutton ">ADD</button>

</form>
{%endblock%}