 {% extends 'base.html' %} {% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-left: 43%;">Department Assign</h4>
                    <div class="table-responsive">
                        <form method="POST" action="/assign_department">
 <table id="mytable" style="margin-left: 40%; margin-top: 2%;" cellpadding="10" >
                                <thead>
                                    <tr class="a">
                                        <th cell>Role</th>
                                        <th>Employee</th>
                                        <th>Department</th>
                                        


                                    </tr>
                                </thead>

                                <tbody>
                                   

                                    <tr align="center">

                                        <td><div class="form-row align-items-center">
                                            <div class="col-auto my-1">
                                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="role">
                                                    <option selected="selected">Choose</option>
                                                    {%for roles in role %}
                                              <option>{{roles.role}}</option>
                                                    {% endfor %}

                                                </select>

                                            </div>

                                        </div></td>


                                        <td>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto my-1">
                                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="employe">
                                                        <option selected="selected">Choose  {% for employes in employe%}
                                                        <option >{{employes.name}}</option>
                                                        {% endfor %}

                                                    </select>

                                                </div>

                                            </div>
                                        </td>



                                        <td>
                                            <div class="form-row align-items-center">
                                                <div class="col-auto my-1">
                                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="department">
                                                        <option selected="selected">Choose</option>
                                                        {% for de in department%}
                                                        <option >{{de.name}}</option>
                                                        {% endfor %}
                                                    </select>

                                                </div>

                                            </div>
                                        </td>


                                  

                                    </tr>
                                    
                                </tbody>

                            </table>
                            <button type="submit" class="btn btn-dark m-5" style="position: relative; left: 60%;" id="mybutton">Assign</button>
                        </form>
                      
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
</div>

    {% endblock %}