<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Login Form</h2>
                 <a href="{{ url_for('adminLogin') }}" class="btn btn-warning btn-xs">Admin Login</a>
                        <a href="{{ url_for('employeeLogin') }}" class="btn btn-danger btn-xs"
                           >Employee Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>